
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<h2>Index</h2>

@using (Html.BeginForm("procesar", "Persona", FormMethod.Post))
{
    <label>Usuario</label>
    <br />
    <input type="text" name="usuario" />
    <br />
    <label>DUI</label>
    <br />
    <input type="text" name="DUI" />
    
    <input type="submit">

}